.advantages {
  width: 100%;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
}

@media screen and (max-width: 1199px) and (min-width: 768px) {
  .advantages {
    margin: -15px;
  }
}
@media screen and (min-width: 768px) {
  .advantages {
    display: flex;
    flex-wrap: wrap;
  }
}

.advantages .advantages-item::before {
  content: '';
  display: block;
  height: 120px;
  width: 100%;
  margin-bottom: 30px;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $bcg-gray;
  border-radius: 4px;
}

.advantages-icon-1::before {
  background-image: url(../images/index/antenna.svg);
}

.advantages-icon-2::before {
  background-image: url(../images/index/clock.svg);
}

.advantages-icon-3::before {
  background-image: url(../images/index/diagram.svg);
}

.advantages-icon-4::before {
  background-image: url(../images/index/astronaut.svg);
}

@media screen and (max-width: 1199px) and (min-width: 768px) {
  .advantages-item {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages-item {
    width: calc((100% - 3 * 30px) / 4);
  }
}

.advantages-title {
  margin-top: 93px;
  margin-bottom: 10px;

  @include for-size(mobile-only) {
    text-align: center;
  }
}

.advantages-text {
  text-align: justify;
  font-size: 14px;
  line-height: 1.714;
}
