.container-filter {
  padding-top: 94px;
}

.filter {
  display: flex;
  justify-content: center;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.filter-btn {
  display: inline-block;
  border: 0px transparent;
  border-radius: 4px;
  padding: 6px 22px;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  min-width: 73px;
  height: 38px;
  line-height: 1.62;
  text-align: center;
  color: $dark-color;
  background-color: $bcg-gray;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $white;
    background-color: $button-bcg-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
