.header {
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .header-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 80px;
  }
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.logo {
  margin-top: 24px;
  margin-right: 88px;
  margin-bottom: 25px;
  text-decoration: none;
  font-family: Raleway;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.375;
  color: $button-bcg-color;
}

@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 93px;
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo-black {
  font-family: Raleway;
  font-size: 24px;
  line-height: 1.375;
  color: $dark-color;
}

@media screen and (min-width: 1200px) {
  .logo-black {
    font-size: 26px;
    line-height: 1.19;
  }
}

.menu-nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .menu-nav {
    display: flex;
  }
}

.menu-contact {
  display: none;
  padding-left: auto;
  //display: inline-flex;
}

@media screen and (min-width: 768px) {
  .menu-contact {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .menu-contact {
    display: flex;
    margin-left: auto;
  }
}

.menu-item .menu-link {
  position: relative;
}

.menu-link:hover:after,
.active::after {
  content: '';
  position: absolute;
  left: 0;
  top: 30.5px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--button-bcg-color);
  margin-top: 16px;
}

.menu-item:not(:last-child) {
  margin-right: 50px;
}

@media screen and (max-width: 1199px) and (min-width: 768px) {
  .contact-item {
    margin-left: 84px;
  }
}

@media screen and (min-width: 1200px) {
  .contact-item:not(:last-child) {
    margin-right: 50px;
  }
}

.link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
  color: var(--button-bcg-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover .header-icon,
.link:focus .header-icon {
  fill: var(--button-bcg-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-icon {
  fill: $main-color;
  margin-right: 10px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

nav a.active {
  color: $button-bcg-color;
}

.contact-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $main-color;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0;
}
