.hero {
  background-color: $dark-bcg;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  object-position: top center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}

@media not all,
  screen and (max-width: 767px) and (min-resolution: 192dpi),
  screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(./images/mobile_hero_2x.jpg);
  }
}

@media screen and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(./images/mobile_hero_1x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(./images/tablet_hero_1x.jpg);
  }
}

@media not all,
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(./images/tablet_hero_2x.jpg);
  }
}

@media not all,
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(./images/desktop_hero_2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(./images/desktop_hero_2x.jpg);
  }
}

.hero-container {
  max-width: 696px;
}

.hero-name {
  text-align: center;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $white;
}
