.button-menu {
  display: block;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  margin-left: auto;
}
//стили на кнопку меню
@media screen and (min-width: 768px) {
  .button-menu {
    display: none;
  }
}

.button-menu:hover .menu-icons,
.button-menu:focus .menu-icons {
  fill: #2196f3;
  cursor: pointer;
}

.icon-closemark {
  display: none;
}

.button-menu.is-open .icon-menu {
  display: none;
}

.button-menu.is-open .icon-closemark {
  display: block;
}

//стили модалки
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.6);
  background-color: $primaryBgColor;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  padding: 40px;
  width: calc(100% - 15px);
  @media screen and (min-width: $mobile) {
    width: 450px;
  }

  @media screen and (min-width: $desktop) {
    width: 528px;
    height: 581px;
  }

  background-color: $white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform 250ms $cubic, background-color 350ms $cubic;
}
.modal .title {
  margin-top: 0;
  margin-bottom: 12px;
  @include font(20px, 1.5, 700);
  color: $titleColor;
  text-align: center;

  @media screen and (min-width: $desktop) {
    line-height: 1.15;
  }
}

//сброс стилей
.mobile-nav {
  text-decoration: none;
}

//стили меню для мобильного
.mobile-menu {
  margin-bottom: 60px;
}

.mobile-menu .item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-menu .link {
  position: relative;
  display: inline-block;
  color: #212121;
}

.mobile-menu .link.current {
  padding-bottom: 12px;
}

.mobile-menu .link::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
  transform: scaleX(0);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  z-index: 900;
}

.mobile-menu .link:focus,
.mobile-menu .link:hover {
  color: #2196f3;
}

.mobile-contacts .item:not(:last-child) {
  margin-bottom: 16px;
}

.mobile-contacts .link {
  color: #757575;
}
