@import './header';
@import './hero';
@import './advantages';
@import './gallery';
@import './team';
@import './client';
@import './footer';
@import './filter';
@import './project';
@import './mobilemenu';
