.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
  padding-bottom: 94px;
}

.project-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-bottom: 30px;
}

.project-item {
  position: relative;

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.project-card {
  position: absolute;
  width: 370px;
  height: 294px;
  top: 0px;
  left: auto;
  background: rgba(33, 150, 243, 0.9);
  overflow: hidden;
}

.description {
  position: absolute;
  width: 370px;
  height: 294px;
  top: 0px;
  left: auto;
  background: rgba(33, 150, 243, 0.9);

  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.55;
  padding-top: 63px;
  padding-right: 24px;
  padding-bottom: 63px;
  padding-left: 24px;

  color: #ffffff;
  transform: translateY(100%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.name-card {
  padding-top: 314px;
}

.website {
  display: block;
  text-decoration: none;

  &:hover .description,
  &:focus .description {
    transform: translateY(0);
    opacity: 1;
    overflow: hidden;
  }
}

.project-img {
  margin-bottom: 20px;
}

.name-website {
  font-weight: bold;
  font-size: 18px;
  line-height: 1.14;
  color: $dark-color;
  margin-bottom: 4px;
  margin-left: 24px;
}

.subtitle {
  font-size: 16px;
  line-height: 1.857;
  color: $main-color;
  margin-bottom: 50px;
  margin-left: 24px;
}

.text-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: $dark-color;
}
