.logo {
  margin-top: 24px;
  margin-right: 93px;
  margin-bottom: 25px;
  text-decoration: none;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: $button-bcg-color;
}

.logo-black {
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19;
  color: $dark-color;
}
